<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4 fixed-bottom bg-light noterror">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a href="https://www.facebook.com/laurent.laporte.16" class="btn-floating btn-fb mx-1">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://twitter.com/laurent11061984" class="btn-floating btn-tw mx-1">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/laurent-laporte/" class="btn-floating btn-li mx-1">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
      </ul>
      <!-- Social buttons -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a > LLaporte2019</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->